.btn{
     padding: 20px;
    font-size: 16px;
}
.btn-white{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    &:hover{
        background-color: #000;
    color: #fff;
    }
}
.btn-black{
    background-color: #000;
    color: #fff;
    &:hover{
        background-color: #fff;
    color: #000;
    border: 1px solid #000;
    }
}
.btn-danger{
    background-color: #ff0000;
    border: #ff0000;
    color: #fff;
    &:hover{
     background-color: #fff;
    color: #ff0000;
    border: 1px solid #ff0000;
    }
}