.header {
    margin: 100px 0px;
  }
  .cart-icon{
    display: flex;
    justify-content: flex-end;
    a{
      position: relative;
      img{
       width: 100%;
      }
    }
    span{
      background-color: $palette-warning;
      padding: 5px 10px;
      border-radius: 100%;
      color: $palette-black;
      position: absolute;
      top: -20px;
      left: 20px;
  
    }
  }