
$palette-warning: #f5a623;
$palette-danger: #FE1C27;
$palette-success: #02AE62;
$palette-white: #ffffff;
$palette-black: #000000;
 

//Greys -- Material
$grey-50:  #f1f1f1;
$grey-100: #f6f6f6;
$grey-200: #EEEEEE;
$grey-300: #d8d8d8;
$grey-400: #BDBDBD;
$grey-500: #9b9b9b;
$grey-600: #757575;
$grey-700: #888888;
$grey-800: #4A4A4A;
$grey-900: #212121;